h2{
  	margin-top: 3%; 
	text-align: center; 
	font-style: Arial; 
	font-family: Cursive; 
	color: black; 
	font-size: 10px;  
	display: block;
    
   	font-weight: bold;
}
p{
	  
	font-size:10px;
  	text-align: center;
  	font-style: Arial;
  	color: black;
  	font-family: Cursive; 
  	display: block;
    	
    	font-weight: bold;
}
body{
	background-size: 100%;
     	background-attachment: fixed; 
	background-repeat: no-repeat; 
	background-color: white;
	background-image: url("http://static.tumblr.com/amm1lw6/uL6mt3bro/untitled-1.png");
}

