h2{
  	margin-top: 3%; 
	text-align: center; 
	font-style: italic; 
	font-family: Cursive; 
	color: black; 
}
p{
  	text-align: center;
  	font-style: italic;
  	color: black;
  	font-family: Cursive; 
}
body{
	
     	
	background-color: black;
	background-image: url("http://images.uncyc.org/pt/8/8d/AApagar.png");
}

